fal-client
langchain-openai
fastapi
uvicorn
langgraph
langchain-google-genai
langchain-google-vertexai
mcp
pydantic
python-dotenv
langchain-core
moviepy==1.0.3
google-cloud-texttospeech
google-cloud-storage
google-cloud-aiplatform
protobuf
pillow
ffmpeg-python
praw==7.7.1
supabase
google-genai>=1.0.0
requests
