fastapi
uvicorn
langgraph
langchain-google-genai
mcp
pydantic
python-dotenv
langchain-core
moviepy
google-cloud-texttospeech
google-cloud-storage
google-cloud-aiplatform
protobuf
pillow
ffmpeg-python
